# Dependencies
node_modules

# Compiled output
/dist
/temp
/out-tsc

# IDEs and editors 
.angular/*
!.angular/
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE -VsCode
.vscode/*
!.vscode/settings.json 
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.angular

# MacOs specific files 
.DS_Store

#swap files 
*.swp
*.swo
*.swx

# Coverage reports
coverage

# Environment variables
.env*
.env.local*